/* .main_profile {
    background-color: #;
} */

.left_bar {
    background-color: #F3F6FA;
    min-height: 500px;
    max-height: 600px;
}

.left_bar ul {
    color: #000;
    list-style: none;
    padding: 12px 16px;
}

.left_bar ul li {
    margin: 8px 0;
}

.left_bar ul a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.left_bar ul a:hover {
    color: red;
}

.left_bar ul li i {
    color: red;
}

.header {
    box-shadow: 0 4px 10px -10px rgb(92, 92, 92);
    margin-bottom: 4px;
}

.proflie_avatar {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.proflie_avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.main_profile table td {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}

.main_content .action a {
    color: blue;
}

.main_content .action a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main_content p {
    margin-bottom: 5px;
    color: #000;
}

.error {
    font-style: italic;
    color: red;
    padding-left: 5px;
}

.default {
    font-style: italic;
    color: rgb(21, 0, 114);
}


/* Tabs*/

#tabs {
    /* background: #007b5e; */
    color: rgb(0, 0, 0);
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(255, 0, 0) !important;
    background-color: transparent;
    border-color: transparent transparent #000;
    border-bottom: 3px solid !important;
    font-size: 20px;
    font-weight: 600;
}

.status_order {
    border-left: 2px solid red;
    color: red;
    font-size: 18px;
}

.action_order {
    padding-bottom: 8px;
    margin: 0 12px;
    border-bottom: 1px solid #ccc;
}

.order_item {
    background-color: #fff;
    box-shadow: 0 0 4px #858585;
    padding: 8px 12px;
}

.order_item .info_order {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}

.order_item .info_order img {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.order_item .info_order>div {
    gap: 10px;
}

.order_item .info_order .name_product {
    font-size: 22px;
}

.order_item .price_product {
    color: red;
    font-weight: 600;
    font-size: 20px;
}